/* .about {
  margin: 5rem 0;
} */
/* 
.about__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
} */

/* 
  .about > p {
    color: var(--text-color);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.2rem;
  } */

.about__paragraph {
  color: var(--text-color);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.about-container {
  position: relative;
  /* left: -12rem; */
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  height: 38rem;
  width: 100%;
  max-width: 1440px;
}

.ContainerAboutLafocaImg {
  position: absolute;
  left: 0;
}

.bgLaranja {
  position: absolute;
  top: 0;
}

.bgGirl {
  position: absolute;
  top: -124px;
  left: 6rem;
  width: 560px;

}

/*ACCORDION*/
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.accordion {
  /* margin: 30px; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__item {
  width: 100%;
  max-height: 60px;
  padding: 0 3rem;
  /* border-bottom: 1px solid #c9c9c9; */
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem 0;
  background-color: var(--bg-accordion);
  border-radius: 0.3rem;
}

.accordion__header {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  /* margin: 1.5rem 0 0.5rem 0; */
  /* justify-content: space-between; */
}

.accordion__header>h4 {
  transition: 0.2s ease-in-out;
  /* font-size: 16px; */
  font-weight: 700;
  /* margin-bottom: 10px; */
  color: var(--title-color);
  opacity: 0.75;
  margin-left: 15px;
}

.accordion__header i {
  transition: 0.2s ease-in-out;
  transform-origin: center;
  /* margin-bottom: 10px; */
  margin-left: auto;

}

.iconAccordion {
  color: rgba(0, 0, 0, 0.5);
}

/* 
.accordion__header:hover h4 {
    color: #10d6f5!important;
}

.accordion__header:hover i {
    color: #10d6f5;
} */

.accordion__content {
  /* border-top: 1px solid rgba(101, 101, 101, 0.5); */
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text-color);
  margin-bottom: 1rem;

}

@media (max-width:600px) {
  h1 {
    font-size: 30px;
  }

  .accordion__item {
    width: 80%;
  }
}

/* COntainer acordeao */

.container-accordion {
  /* height: 100%;
  width: 42vw;
  min-width: 35rem;
  margin-right: 2rem; */
  width: 40%;
}

.container-accordion>h2,
.container-accordion>p {
  text-align: left;
}