/* styles.css */
.card {
    position: relative;
    display: inline;
    /* margin: 50px 12px; */
    /* transition: transform 5s */
    /*  width: 200px;
  height: 300px; */
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
    /* border: 1px solid #ccc; */

}

.img {
    width: 380px;
    transition: transform .4s;
    /* height: 100%; */
    /* object-fit: cover; */
}

.info {
    position: absolute;
    bottom: 80px;
    left: 18px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 19px;
    padding: 25px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    text-align: left;
    width: 344.917px;
    height: 110.73px;
}

.card:hover .info {
    opacity: 1;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o texto à esquerda */
    margin-right: 100px;
    /* Espaçamento entre texto e botão */
}

.info-content>strong {
    margin-bottom: 20px;
}

.know-more {
    background-color: var(--button-know-more);
    width: 76.365px;
    height: 75.093px;
    margin-left: auto;
    border-radius: 19px;
    cursor: pointer;
}

.card:hover .img {
    transform: translateY(-50px);
    /* Desloca a div para cima ao passar o mouse */
}

/* Seletor específico para estilizar a margem superior do alice-carousel__stage */
.carousel-container .alice-carousel__stage {
    margin-top: 90px;
}

/* styles.css */
/* styles.css */
/* .custom-prev-button {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-next-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
} */

.custom-button {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    cursor: pointer;
}

.custom-button:hover {
    box-shadow: -1px 12px 12px 1px rgba(0, 0, 0, 0.1);
}

.carousel-container .alice-carousel__dots-item:not(.__custom).__active {
    background-color: var(--main-color)
}

.carousel-container .alice-carousel__dots-item:not(.__custom) {
    width: 45px;
    height: 4px;
    border-radius: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-container .alice-carousel__stage-item {
    width: 300px;
}