@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1rem;
  background: var(--bg-color);
  color: var(--title-color);
}

.content-body {
  margin: 0 auto;
  max-width: 1440px;
}

/*para cada seção do site (equipe, sobre, resultados, ...)*/
.section-content {
  min-height: 100vh; 
  padding: 5rem 8% 4rem;
}

span {
  color: var(--main-color);
}

:root{
  --bg-color: #F6F7FB;
  --main-color: #EE972D;
  --title-color:#222222;
  --text-color: #222222A6;
}

/* html{
  overflow-x: hidden;
} */
