@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1rem;
  background: var(--bg-color);
  color: var(--title-color);
}

.content-body {
  margin: 0 auto;
  /* max-width: 1440px; */
  /* padding: 0 8%; */
}

/*para cada seção do site (equipe, sobre, resultados, ...)*/
.section-content {
  /* min-height: 100vh;  */
  padding: 5rem 5rem;
  margin: 2rem 0;
}

span {
  color: var(--main-color);
}

:root{
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-results: #222;
  --bg-color: #F6F7FB;
  --main-color: #EE972D;
  --title-color:#222222;
  --text-color: #222222A6;
  --bg-accordion: #EBEBEB;
  --button-know-more: #222222;
}

.global-title-black-orange {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
}

.global-paragraph {
  color: var(--text-color);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.2rem;
}

/* html{
  overflow-x: hidden;
} */
