.bannerLogoLafoca {

        background-color: #14171b;
        /* background-image: url('../../assets/img/banner/logo_bg.svg'), url('../../assets/img/banner/bg.svg'); */
        background-size: 100vw, cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center, center center;
}

@media (min-width: 1440px) {
        .bannerLogoLafoca {
                background-size: 50vw, cover;

        }
}